name: CICD

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  ruff:
    name: Ruff Format
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7

      - name: Run ruff
        run: uvx ruff check

      - name: Run ty
        run: uvx ty check
